.navbar-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #201f1f;
    color: white;
}

.navbar-leftside {
    display: flex;
    gap: 15px;
    padding-left: 10px;
}

.navbar-leftside {
    display: flex;
    gap: 15px;
    padding-left: 10px;
}

button {
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: rgba(0,0,0,0.1);
}